/* Styles dropdown */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*  */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    transition: ease-in-out 0.3s;
}

/*  */

.overlay {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

/*  */

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./assets/img/jpg/hero-bg.jpg) no-repeat center 0;
    background-size: cover;
    width: 100%;
    height: 910px;
}

@media (max-width: 780px) {
    .hero-wrapper {
        height: 590px;
        background-size: auto 620px;
        background-position: -5px -30px;
    }
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
}

.header-logo-link {
    background-image: url(./assets/svg/header-logo.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;  
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}

@media (max-width: 780px) {
    .header-logo-link {
        margin-left: 60px;
    }
}

.header-logo-link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header-nav {
    display: flex;
    margin-left: auto;
    max-width: 444px;
    width: 100%;
    /* overflow: hidden; */
}

.header-nav .nav-wrapper {
    max-width: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.list-item-link {
    font: normal 400 20px/50px "Inter", sans-serif;
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: ease-in-out 0.3s;
}

.header .list-item-link:hover {
    color: #BDAE82;
}

.lang-switch {
    display: flex;
    align-items: center;
    max-width: 89px;
    width: 100%;
    margin-right: 35px;
    margin-left: 38px;
}

.lang-switch-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    font: normal 400 20px/50px "Inter", sans-serif;
}

/*  */

.hero-section {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    margin-right: auto;
    padding-left: 80px;
    max-width: 500px;
    width: 100%;
}

@media (max-width: 780px) {
    .hero-section {
        max-width: 390px;
        padding-top: 78px;
        padding-left: 60px;
    }
}
.hero-title {
    font: normal 700 60px/120px "Merriweather", sans-serif;
    color: #FFFFFF;
    padding-bottom: 10px;
    transition: ease-in-out 0.3s;
}

@media (max-width: 780px) {
    .hero-title {
        font: normal 400 32px/64px "Merriweather", sans-serif;
        padding-bottom: 20px;
    }
}

.hero-text {
    max-width: 470px;
    font: normal 400 20px/40px "Inter", sans-serif;
    color: #FFFFFF;
    padding-bottom: 25px;
    width: 100%;
    transition: ease-in-out 0.3s;
}

@media (max-width: 780px) {
    .hero-text {
        font: normal 400 20px/24.2px "Inter", sans-serif;
        padding-bottom: 60px;
    }
}

.button {
    max-width: 220px;
    height: 55px;
    width: 100%;
    background-color: #BDAE82;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color: black;
    font: normal 400 20px/40px "Inter", sans-serif;
    transition: ease-in-out 0.3s;
}

.button:hover {
    color: #FFFFFF;
}

/*  */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin-top: 100px;
}

@media (max-width: 780px) {
    .section {
        margin-top: 80px;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
    width: 50%;
    height: 80px;
    font: normal 700 40px/80px "Merriweather", sans-serif;
    color: #BDAE82;
    overflow: hidden;
}

@media (max-width: 780px) {
    .section-title {
        margin-bottom: 50px;
        font-size: 32px;
    }
}

.section-title::before, .section-title::after {
    content: "";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #BDAE82;
    height: 2px;
    width: 100%;
}

.section-title::before {
    margin-left: -100%;
    left: -20px;
}

.section-title::after {
    margin-right: -100%;
    right: -20px;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 8px;
    max-width: 1400px;
    width: 100%;
    list-style: none;
    color: white;
}

@media (max-width: 780px) {
    .skills-list {
        max-width: 728px;
        row-gap: 36px;
    }
}

.skills-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    width: 100%;
}

@media (max-width: 780px) {
    .skills-list-item {
        max-width: 300px;
        padding-bottom: 40px;
    }
}

.skills-list-item-icon {
    height: 50px;
    margin-bottom: 50px;
}

@media (max-width: 780px) {
    .skills-list-item-icon {
        margin-bottom: 30px;
    }
}

.skills-list-item-title {
    max-width: 280px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font: normal 700 20px/40px "Inter", sans-serif;
}

.skills-list-item-text {
    max-width: 280px;
    width: 100%;
    text-align: center;
    font: normal 400 18px/36px "Inter", sans-serif;
}

@media (max-width: 780px) {
    .skills-list-item-text {
        line-height: 21px;
    }
}

.skills-list-item-icon.skills-camera {
    background: url(./assets/svg/skills-camera.svg) no-repeat;
    width: 62px;
}

.skills-list-item-icon.skills-video {
    background: url(./assets/svg/skills-video.svg) no-repeat;
    width: 60px;
}

.skills-list-item-icon.skills-retouch {
    background: url(./assets/svg/skills-retouch.svg) no-repeat;
    width: 66px;
}

.skills-list-item-icon.skills-audio {
    background: url(./assets/svg/skills-audio.svg) center center no-repeat;
    width: 32px;
}

@media (max-width: 780px) {
    .skills-list-item-icon.skills-audio {
        margin-bottom: 22px;
        padding-top: 8px;
    }
}

/*  */

.portfolio-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-width: 895px;
    width: 100%;
    margin-bottom: 60px;
}

.portfolio-buttons-item {
    max-width: 220px;
    width: 100%;
    height: 55px;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    color: #BDAE82;
    font: normal 400 20px/40px "Inter", sans-serif;
    transition: ease-in-out 0.3s;
}

.portfolio-buttons-item:hover {
    color: #FFFFFF;
}

.portfolio-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1400px;
    width: 100%;
}

.portfolio-images-item {
    max-width: 450px;
    width: 100%;
    height: 560px;
    background-position: center center;
    background-size: cover;
}

/*  */

.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    height: 705px;
    width: 100%;
    background: url(./assets/img/jpg/video-player.jpg) no-repeat center 0;
    background-size: cover;
}

.video-player-button {
    position: absolute;
    width: 129px;
    height: 130px;
    cursor: pointer;
    border: none;
    background: url(./assets/svg/video-play.svg) no-repeat center center;
    transition: ease-in-out 0.3s;
}

.video-player-button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
/*  */

.price-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
    padding-bottom: 100px;
}

.price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 450px;
    width: 100%;
    border: 3px solid #BDAE82;
    box-sizing: border-box;
}

.price-item-title {
    padding-top: 43px;
    padding-bottom: 20px;
    font: normal 700 28px/56px "Merriweather", sans-serif;
    color: #FFFFFF;
}

.price-item-price {
    padding-bottom: 20px;
    font: normal 700 24px/48px "Merriweather", sans-serif;
    color: #BDAE82;
}

.price-item-description {
    text-align: center;
    max-width: 364px;
    width: 100%;
    padding-bottom: 40px;
}

.price-item-description-text {
    font: normal 400 18px/36px "Inter", sans-serif;
    color: #FFFFFF;
}

.price-item-button {
    margin-bottom: 40px;
}

/*  */

.contacts.section {
    margin: 0;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background: url(./assets/img/jpg/contacts-bg.jpg) no-repeat center center;
    background-size: cover;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    padding-top: 60px;
    padding-right: 20px;
}

.contacts-info-title {
    font: normal 700 40px/80px "Merriweather", sans-serif;
    color: #BDAE82;
    padding-bottom: 40px;
}

.contacts-info-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-bottom: 30px;
}

.contacts-form-input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    font: normal 400 20px/40px "Inter", sans-serif;
    color: #BDAE82;
    padding-left: 20px;
    transition: ease-in-out 0.3s;
}

.contacts-form-textarea {
    display: block;
    width: 100%;
    height: 100px;
    resize: none;
    background-color: transparent;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    font: normal 400 20px/40px "Inter", sans-serif;
    color: #BDAE82;
    padding-left: 20px;
    transition: ease-in-out 0.3s;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

/*  */

.footer {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 150px;
    color: #FFFFFF;
}

.footer-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font: normal 400 20px/50px "Inter", sans-serif;
}

.footer-list-item {
    display: flex;
    gap: 20px;
}

.footer-list-item-link {
    text-decoration: none;
    color: #FFFFFF;
    transition: ease-in-out 0.3s;
}

.footer-list-item-link:hover {
    color:#BDAE82;
}

.socials {
    display: flex;
    list-style: none;
    gap: 20px;
}

.socials-item {
    display: flex;
    align-items: center;
}
  
.socials-item-link {
    width: 32px;
    height: 32px;
    transition: ease-in-out 0.3s;
}

.socials-item-link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}

.socials-item-link.insta {
  background: url("./assets/svg/inst.svg") no-repeat center center;
  display: inline-block;
}
.socials-item-link.fb {
  background: url("./assets/svg/fb.svg") no-repeat center center;
  display: inline-block;
}
.socials-item-link.twitter {
  background: url("./assets/svg/tw.svg") no-repeat center center;
  display: inline-block;
}
.socials-item-link.pin {
  background: url("./assets/svg/pinterest.svg") no-repeat center center;
  display: inline-block;
}